html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    padding-right: 1rem;
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-height: 72px;
    /* overflow: visible; */
}

#signin, #signup {
    margin-left: 15px;
}

.content {
    padding-right: 10rem;
    padding-left: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about h1 {
    margin-bottom: 15px;
}

.about a {
    font-size: 22px;
}

.about button {
    margin-top: 15px;
}

#carousel {
    width: 650px;
    height: auto;
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 27px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
}

footer img {
    height: 75px;
    width: auto;
}

nav img {
    margin-top: 100px;
    width: auto;
    height: 170px;
    border-radius: 50%;
}

.carousel-item img {
    padding-left: 75px;
    padding-right: 75px;
}